.home {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

@media only screen and (max-width: 830px) {
  .home__mainContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .MuiGrid-grid-sm-7,
  .MuiGrid-grid-sm-4 {
    max-width: 90% !important;
  }
}
