.logOut {
  position: absolute;
  top: 2%;
  right: 2%;
  background: lightcoral;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.logOut:hover {
  opacity: 0.8;
  color: black;
}
